<html>
    <head>
    
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import Font Awesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css" integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">

        <!-- META Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <title>Walkers | Home</title>
    
        
    </head>

    <body>
        
        <nav>
            <div class="nav-wrapper grey darken-3">
                <a href="#bewalker.xyz" class="brand-logo left" style="margin-left: 2%"><strong>Walker</strong></a>
                <ul id="nav" class="right">
                    <li><a href="/about">About</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register"><strong>Register</strong></a></li>
                </ul>                
            </div>
        </nav>
    
        
        <div class="container-fluid page-container">
            <div class="row">
            <div class="col s12 m5 l4 white-text" id="chat">
                <br>
                <div class="input-field col s12">
                    <select id="select1" onchange="goToChat()">
                        <% for(var i = 1; i < 101; i++) {  
                            if(i == chat_number) { %> 
                                <option value="<%- i -%>" disabled selected> !<%- i -%> </option>
                            <%}
                            else {%> 
                                <option value="<%- i -%>"> !<%- i -%> </option>
                            <%}                                                    
                        } %>
                    </select>
                    <label>Changer de salon</label>
                </div>
                
                <div id="chat-window" style="overflow">
                    <ul class="chat-container">
                        <li class="chat-message message">
                            <strong> <a href="#/rankingsystem" class="white-text">[Admin]</a> <a href="#pseudo-stats">Walker#1</a></strong> <br>
                            Bonjour, comment allez vous ? Moi je vais bien...
                        </li>
                        
                        <br>
                        
                        <li class="user-message message">
                            <strong> <a href="#pseudo-stats">Moi</a></strong> <br>
                            Très bien et toi <strong class="mention"> #1</strong> ?
                        </li>
                        
                        <br>
                        
                        <li class="chat-message message">
                            <strong> Rank <a href="#pseudo-stats">Pseudo</a></strong> <br>
                            Bonjour, comment allez vous ? Moi je vais bien...
                        </li>
                        
                        <br>
                        
                        <li class="chat-message message">
                            <strong> <a href="#/rankingsystem" class="white-text">[Admin]</a> <a href="#pseudo-stats">Walker#1</a></strong> <br>
                            Bonjour, comment allez vous ? Moi je vais bien...
                        </li>
                        
                        <br>
                        
                        <li class="user-message message">
                            <strong> <a href="#pseudo-stats">Moi</a></strong> <br>
                            Très bien et toi <strong class="mention"> #1</strong> ?
                        </li>
                        
                        <br>
                        
                        <li class="chat-message message">
                            <strong> Rank <a href="#pseudo-stats">Pseudo</a></strong> <br>
                            Bonjour, comment allez vous ? Moi je vais bien...
                        </li>
                        
                        <br>
                        
                        <li class="chat-message message">
                            <strong> <a href="#/rankingsystem" class="white-text">[Admin]</a> <a href="#pseudo-stats">Walker#1</a></strong> <br>
                            Bonjour, comment allez vous ? Moi je vais bien...
                        </li>
                        
                        <br>
                        
                        <li class="user-message message">
                            <strong> <a href="#pseudo-stats">Moi</a></strong> <br>
                            Très bien et toi <strong class="mention"> #1</strong> ?
                        </li>
                        
                        <br>
                        
                        <li class="chat-message message">
                            <strong> Rank <a href="#pseudo-stats">Pseudo</a></strong> <br>
                            Bonjour, comment allez vous ? Moi je vais bien...
                        </li>
                        
                        <br>
                        
                        <li class="chat-message message">
                            <strong> <a href="#/rankingsystem" class="white-text">[Admin]</a> <a href="#pseudo-stats">Walker#1</a></strong> <br>
                            Bonjour, comment allez vous ? Moi je vais bien...
                        </li>
                        
                        <br>
                        
                        <li class="user-message message">
                            <strong> <a href="#pseudo-stats">Moi</a></strong> <br>
                            Très bien et toi <strong class="mention"> #1</strong> ?
                        </li>
                        
                        <br>
                        
                        <li class="chat-message message">
                            <strong> Rank <a href="#pseudo-stats">Pseudo</a></strong> <br>
                            Bonjour, comment allez vous ? Moi je vais bien...
                        </li>
                    
                    </ul>                   
                </div>
                
                <div class="container-fluid row" id="input-container">                        
                    <div class="input-field col s8">
                        <input id="message" type="text" class="white-text">
                        <label for="message" style="margin-left: 2%">Enter your message !</label>                          
                    </div>
                    <div class="col s4" style="margin-top: 4%; padding-left: 10%">
                        <a class="waves-effect waves-light btn white-text" onclick="sendMessage()"><i class="material-icons right">send</i>send</a>
                    </div>                        
                </div>
                
            </div>
                <div id="left-pannel" class="col s12 m6 l7 offset-l1 offset-m1 white-text pannel">
                    <div id="news-feed">
                    
                        <div id="image-container" class="center"><img src="img/news.JPG" id="news-image" alt="news-image"></div>
                        <br>
                        <div id="comment-container">
                            <h5 class="center">A new website !</h5>
                            <br>
                            <p style="text-align: justify">Eiusmod est doctrina. Ab sint do sunt ita voluptate ut tempor. Dolor tempor o 
                                magna irure ubi legam si mandaremus. Sed magna concursionibus. Ea ab quem fore 
                                tamen ita velit eiusmod fabulas. Possumus ad senserit ab doctrina aut noster 
                                voluptate, occaecat quo labore cernantur, nostrud duis tempor. Velit 
                                philosophari ullamco tamen nescius. Dolor excepteur eu voluptate, quis te 
                                cupidatat ab irure, nisi appellat occaecat ea lorem cohaerescant vidisse magna 
                                incurreret qui iis consequat eu cernantur, singulis veniam aute incididunt quid, 
                                ne multos eiusmod laboris iis si eram doctrina despicationes. Aliquip aute cernantur ingeniis, mentitum enim eiusmod.  
                            </p>
                            
                            <p>ZONE DES ESSAIS</p>
                            <p>
                            
                                <% if (49 == chat_number){%> JE SUIS LE MEC LE PLUS INTELLIGENT DU MONDE <%}%>
                            

                            
                            </p>
                        
                        </div>
                    
                    </div>
                    <div id="footer">
                        <div class="center white-text">Contact us on :</div>
                        <div id="social-container" class="center">
                            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook social social-margin"></i></a>
                            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter social  social-margin"></i></a>
                            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram social social-margin"></i></a>
                            <a href="https://github.com/TheBlackDev/Walkers" target="_blank"><i class="fab fa-github social"></i></a>
                        </div>
                    </div>
                </div>
            </div>                        
        </div>
    

    
        <!-- Modal Structure -->
        <div id="modal1" class="modal open">
            <div class="modal-content">
                <h4>Hi, you, yes you !</h4>
                <p>Hi, welcome to bewalker.tk, a website where all people can find someone to talk with. <br>
                <strong>You've been automaticaly sent to !<%- chat_number -%></strong>.</p>
            </div>
            <div class="modal-footer">
                <strong><a href="#!" class="modal-close waves-effect waves-green btn-flat">OK <i class="material-icons">done</i></a></strong>
            </div>
        </div>
        
        
        <!-- JavaScript at end of body for optimized loading -->
        <script type="text/javascript" src="/js/materialize.min.js"></script>
        <script>
            M.AutoInit();
        
            var current_url = document.location.href.split("#");
            
            if(current_url[1] == "redirected"){
                M.Modal.getInstance(modal1).open();
            }
            
            
            function goToChat(){
                var brut = document.getElementById("select1").options[document.getElementById("select1").selectedIndex].value;
                var value = parseInt(brut);
                window.location.href = "/chat/"+value;
            }
            
            function sendMessage(){
                console.log(document.getElementById("message").value.toString());
            }
        </script>
        
    </body>
    


</html>